*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.load{

color:white;
background-position: center;
background-repeat: no-repeat;
background-size: conatin;
width:40px;
font-size: 40px;
height:40px;
font-weight: bold;
border-radius: 50%;


}

.anima{
    animation-name:load;
    animation-iteration-count:infinite;
    animation-duration: 4s;
}
@keyframes load {
    0%{
        background-image: url("shutter-svgrepo-com.svg");
        box-shadow:1px 1px 10px rgb(255, 0, 0);
    }
    25%{
        background-image: url("svg2.svg");
        box-shadow:1px 1px 10px rgb(191, 255, 0)
    }
    50%{
        background-image: url("shutter-svgrepo-com.svg");

        box-shadow:1px 1px 10px rgb(0, 255, 72)
    }
    75%{
        background-image: url("svg2.svg");
        box-shadow:1px 1px 10px rgb(43, 0, 255)
    }
    100%{
        background-image: url("shutter-svgrepo-com.svg");
        box-shadow:1px 1px 10px rgb(255, 0, 174)
    }
}

.banner-item1{
    border:1px solid black;
   background-image:linear-gradient(110deg,rgba(21, 21, 21, 0.255) 0%,rgba(23, 21, 21, 0.087) 100%), url("https://ik.imagekit.io/mitraphoto/New_folder_Butterfly/Background/IMG_20210717_175714_QnUYMNtNd_.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1661674839348");
   height:100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:all 1s ease-in-out;
}
.banner-item1_anima{
 background-position: left;

}


.center_content p:nth-child(1),.gallery_center_content p:nth-child(1){
    color:#FDFAF6;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight:200;

}
.gallery_center_content p:nth-child(1){
    color:black;
}
.center_content p:nth-child(2),.gallery_center_content p:nth-child(2){
    font-size: 20px;
    text-transform:capitalize;
    color:#FDFAF6;
    letter-spacing: 2px;
    transform: translate(0,-10px);
    font-weight:400;

}
.center_content button,.gallery_center_content button{
    background-color: transparent;
    color:#FDFAF6;
    padding:10px;
    border:1px solid #FDFAF6;

}
/* #animate_butterfly{
    height:100vh;
} */
/* .gallery_section{
    height:100vh;
} */
ul li{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 7px;
}
.co{
    color:black
}
.parent1{
    position: relative;
}
.hover{
    display: flex;
    background:linear-gradient(110deg,rgba(114, 114, 114, 0.412) 0%,rgba(90, 90, 90, 0.458) 0%);
    width:90%;
    height:90%;
position: absolute;
padding:30px;
top:0%;
left:5%;
justify-content: space-between;

}
.hover svg{
    color:rgb(255, 255, 255)
}

.gallery_banner h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    font-weight:400;
    letter-spacing: 7px;
    color:rgb(255, 255, 255);
    border:2px solid rgb(255, 255, 255);
    transition-duration: .5s;
    padding: 5px;
}
.about_section{
    margin-top:150px;
}
.gallery_banner h1:hover{
   
    letter-spacing: 7px;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border:2px solid rgb(0, 0, 0);
}
.about_sectio_1{
    text-align: left;
    background-image: linear-gradient(110deg,rgba(255, 255, 255, 0.619) 0%,rgba(255, 255, 255, 0.745) 100%),url("https://ik.imagekit.io/mitraphoto/newcam_Q4MT5OvvJ?ik-sdk-version=javascript-1.4.3&updatedAt=1661761728003");
    background-position:center;
}
.about_sectio_1 h4{
    font-weight: 200;
    font-size: 20px;
    line-height: 29px;
    word-spacing: 10px;
}
.about_sectio_2{
    text-align:center;
}
.about_sectio_2 img{
width:80%;
filter: grayscale(100%);
height:80%;
border-radius: 10px;
}
.collage_1{
    background-image: linear-gradient(110deg,rgba(0, 0, 0, 0.265) 0%,rgba(0, 0, 0, 0.71) 100%),url("https://ik.imagekit.io/mitraphoto/New_folder_Butterfly/collage1_f0is5lPbc.png?ik-sdk-version=javascript-1.4.3&updatedAt=1661849538810");
    background-position: left;  
    background-size: 200% 100%;
    
}
.collage_2{
    background-image: linear-gradient(110deg,rgba(0, 0, 0, 0.265) 0%,rgba(0, 0, 0, 0.71) 100%),url("https://ik.imagekit.io/mitraphoto/New_folder_Butterfly/colage2_h7Nx4EAj9.png?ik-sdk-version=javascript-1.4.3&updatedAt=1661849539055");
    background-position: right;
}
.collage_3{
    background-image: linear-gradient(110deg,rgba(0, 0, 0, 0.265) 0%,rgba(0, 0, 0, 0.71) 100%),url("https://ik.imagekit.io/mitraphoto/New_folder_Butterfly/collage3_MFUvYqHPq.png?ik-sdk-version=javascript-1.4.3&updatedAt=1661849538594");
    background-position: left;
}
.collage_animation_1{
    animation-name: collage_animation1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.collage_animation_1_stop{
    animation-play-state: paused;
}
.collage_animation_2{
    animation-name: collage_animation2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.wrapper_1{

    position: relative;
}
.wrapper_2{

    position:absolute;
    background: linear-gradient(110deg,rgba(0, 0rgba(0, 0, 0, 0.503)0.278) 0%,black 100%);
    backdrop-filter: blur(2px);
    top:0%;
    left:0%;
}


@keyframes collage_animation1 {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
@keyframes collage_animation2 {
    0%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}
@media (max-width:768px) {

    .center_content p:nth-child(1){
    color:#FDFAF6;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight:200;

}
.center_content p:nth-child(2){
    font-size: 20px;
    text-transform:capitalize;
    color:#FDFAF6;
    letter-spacing: 2px;
    transform: translate(0,-10px);
    font-weight:400;

}
.center_content button{
    background-color: transparent;
    color:#FDFAF6;
    padding:10px;
    border:1px solid #FDFAF6;

}

}